*{
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-image:url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    height: 660px;
}
nav{
    background-color:transparent;
    box-shadow: 3px 3px 3px black;
    width:100%;
    height: 75px;
    display: flex;
    align-items: center; 
}
.abshoping{
    position: sticky;
    margin-left: 20px;
    text-decoration: none;
    font-size: 30px;
    color: black; 
}
.ab{
    font-size: 35px;
    color:red ;
}
.body{
    
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.body h1{
    float: left;
    margin-left: 19px;
    font-size: 40px;
    box-shadow: 3px 3px 3px white;
    margin-bottom: 50px
}
form{
    margin-top: 400px;
}
form .regestre{
    width:100%;
    overflow:hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid white;
}
.regestre i{
    width: 26px;
    float: left;
    text-align: center;
}
.regestre input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 210px;
    float: left;
    margin: 0 10px;
}
.sexe1{
    margin-top: 27px;
}
.sexe{
    margin-top: 8px;
    font-size: 20px;
}
.input{
    margin-top: 26px;
    margin-left: 120px;
    
}
.btn{
    padding: 10px 25px;
    font-size: 20px;
    color: black;
    border: none;
    border: 2px solid white;
    border-radius: 14px;
    background-color: transparent; 
    margin-bottom: 20px; 
    color: #fff;
}
.btn:hover{
    background-color: black;
}
.nom{
    color: red;
}